#number-to-recall {
    color: black;
}

.game-settings-option-button {
    cursor: pointer;
    padding: 3px;
}

.game-settings-lives {
    cursor: pointer;
    display: flex;
    flex-direction: space-evenly;
    margin: 0 6px;
} 
  /* .game-settings-lives-icon:hover {
    background-color: pink;
  } */

.recall-phase-cards-option {
    cursor: pointer;
}

.recall-phase-cards-option.selected {
    background-color: lightgrey;
    border-radius: 50%;
}


.player-action-panel-container {
    margin-top: 40px;
}