* {
  margin: 5px auto;
  color: white;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 650px;
  background-color: #02090e;

}

body {
  background-color: #02090e;
}

ul {
  list-style: none;
  padding: 1%
}

.clicked {
  background-color: lightgrey;
  border-radius: 50%;
}

.main-container {
  height: 100%;

}

#see-cards-countdown {
  font-size: 2.4rem;
}

.see-cards-countdown-container {
  width: 100%;
  height: 50%;
}

#see-card-countdown-hidden {
  opacity: 20%;
  font-size: 2.4rem;
}